WEB FORMs/WebApplication1/Web References/web/WebService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Connectivity_check">
        <s:complexType />
      </s:element>
      <s:element name="Connectivity_checkResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Connectivity_checkResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Session_check">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="g" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Session_checkResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Session_checkResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Register">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pwd" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="g" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RegisterResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RegisterResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Login">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pwd" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="g" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoginResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Logout">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="g" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LogoutResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="LogoutResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="newName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="newEmail" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateInfoResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdatePassword">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pwd" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdatePasswordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdatePasswordResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Search_Service">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="title" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="protDB" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="outputFormat" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="insilico_frag_type" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="filterDB" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="minimum_est_length" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="maximum_est_length" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="pst_tolerance" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="ptm_tolerance" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="MW_tolerance" type="s:double" />
            <s:element minOccurs="0" maxOccurs="1" name="MWTolUnit" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="peptideTol" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="hopThreshhold" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="GUI_mass" type="s:double" />
            <s:element minOccurs="0" maxOccurs="1" name="ptm_code_var" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="ptm_code_fix" type="tns:ArrayOfString" />
            <s:element minOccurs="1" maxOccurs="1" name="tag_error_tol" type="s:double" />
            <s:element minOccurs="0" maxOccurs="1" name="peakListFolder" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fileType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="peakListFile" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="autotune" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="tunetol" type="s:double" />
            <s:element minOccurs="0" maxOccurs="1" name="HandleIons" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="Search_ServiceResponse">
        <s:complexType />
      </s:element>
      <s:element name="Server_Status">
        <s:complexType />
      </s:element>
      <s:element name="Server_StatusResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Server_StatusResult" type="tns:ArrayOfJob" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfJob">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Job" nillable="true" type="tns:Job" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Job">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="progress" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="qid" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="uid" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="Progress">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="uid" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ProgressResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ProgressResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="Connectivity_checkSoapIn">
    <wsdl:part name="parameters" element="tns:Connectivity_check" />
  </wsdl:message>
  <wsdl:message name="Connectivity_checkSoapOut">
    <wsdl:part name="parameters" element="tns:Connectivity_checkResponse" />
  </wsdl:message>
  <wsdl:message name="Session_checkSoapIn">
    <wsdl:part name="parameters" element="tns:Session_check" />
  </wsdl:message>
  <wsdl:message name="Session_checkSoapOut">
    <wsdl:part name="parameters" element="tns:Session_checkResponse" />
  </wsdl:message>
  <wsdl:message name="RegisterSoapIn">
    <wsdl:part name="parameters" element="tns:Register" />
  </wsdl:message>
  <wsdl:message name="RegisterSoapOut">
    <wsdl:part name="parameters" element="tns:RegisterResponse" />
  </wsdl:message>
  <wsdl:message name="LoginSoapIn">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="LoginSoapOut">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="LogoutSoapIn">
    <wsdl:part name="parameters" element="tns:Logout" />
  </wsdl:message>
  <wsdl:message name="LogoutSoapOut">
    <wsdl:part name="parameters" element="tns:LogoutResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateInfoSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateInfo" />
  </wsdl:message>
  <wsdl:message name="UpdateInfoSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateInfoResponse" />
  </wsdl:message>
  <wsdl:message name="UpdatePasswordSoapIn">
    <wsdl:part name="parameters" element="tns:UpdatePassword" />
  </wsdl:message>
  <wsdl:message name="UpdatePasswordSoapOut">
    <wsdl:part name="parameters" element="tns:UpdatePasswordResponse" />
  </wsdl:message>
  <wsdl:message name="Search_ServiceSoapIn">
    <wsdl:part name="parameters" element="tns:Search_Service" />
  </wsdl:message>
  <wsdl:message name="Search_ServiceSoapOut">
    <wsdl:part name="parameters" element="tns:Search_ServiceResponse" />
  </wsdl:message>
  <wsdl:message name="Server_StatusSoapIn">
    <wsdl:part name="parameters" element="tns:Server_Status" />
  </wsdl:message>
  <wsdl:message name="Server_StatusSoapOut">
    <wsdl:part name="parameters" element="tns:Server_StatusResponse" />
  </wsdl:message>
  <wsdl:message name="ProgressSoapIn">
    <wsdl:part name="parameters" element="tns:Progress" />
  </wsdl:message>
  <wsdl:message name="ProgressSoapOut">
    <wsdl:part name="parameters" element="tns:ProgressResponse" />
  </wsdl:message>
  <wsdl:portType name="WebService1Soap">
    <wsdl:operation name="Connectivity_check">
      <wsdl:input message="tns:Connectivity_checkSoapIn" />
      <wsdl:output message="tns:Connectivity_checkSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Session_check">
      <wsdl:input message="tns:Session_checkSoapIn" />
      <wsdl:output message="tns:Session_checkSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Register">
      <wsdl:input message="tns:RegisterSoapIn" />
      <wsdl:output message="tns:RegisterSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input message="tns:LoginSoapIn" />
      <wsdl:output message="tns:LoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <wsdl:input message="tns:LogoutSoapIn" />
      <wsdl:output message="tns:LogoutSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateInfo">
      <wsdl:input message="tns:UpdateInfoSoapIn" />
      <wsdl:output message="tns:UpdateInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdatePassword">
      <wsdl:input message="tns:UpdatePasswordSoapIn" />
      <wsdl:output message="tns:UpdatePasswordSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Search_Service">
      <wsdl:input message="tns:Search_ServiceSoapIn" />
      <wsdl:output message="tns:Search_ServiceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Server_Status">
      <wsdl:input message="tns:Server_StatusSoapIn" />
      <wsdl:output message="tns:Server_StatusSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Progress">
      <wsdl:input message="tns:ProgressSoapIn" />
      <wsdl:output message="tns:ProgressSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebService1Soap" type="tns:WebService1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Connectivity_check">
      <soap:operation soapAction="http://tempuri.org/Connectivity_check" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Session_check">
      <soap:operation soapAction="http://tempuri.org/Session_check" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Register">
      <soap:operation soapAction="http://tempuri.org/Register" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <soap:operation soapAction="http://tempuri.org/Logout" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateInfo">
      <soap:operation soapAction="http://tempuri.org/UpdateInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePassword">
      <soap:operation soapAction="http://tempuri.org/UpdatePassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Search_Service">
      <soap:operation soapAction="http://tempuri.org/Search_Service" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Server_Status">
      <soap:operation soapAction="http://tempuri.org/Server_Status" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Progress">
      <soap:operation soapAction="http://tempuri.org/Progress" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebService1Soap12" type="tns:WebService1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Connectivity_check">
      <soap12:operation soapAction="http://tempuri.org/Connectivity_check" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Session_check">
      <soap12:operation soapAction="http://tempuri.org/Session_check" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Register">
      <soap12:operation soapAction="http://tempuri.org/Register" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap12:operation soapAction="http://tempuri.org/Login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <soap12:operation soapAction="http://tempuri.org/Logout" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateInfo">
      <soap12:operation soapAction="http://tempuri.org/UpdateInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePassword">
      <soap12:operation soapAction="http://tempuri.org/UpdatePassword" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Search_Service">
      <soap12:operation soapAction="http://tempuri.org/Search_Service" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Server_Status">
      <soap12:operation soapAction="http://tempuri.org/Server_Status" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Progress">
      <soap12:operation soapAction="http://tempuri.org/Progress" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService1">
    <wsdl:port name="WebService1Soap" binding="tns:WebService1Soap">
      <soap:address location="http://localhost:12345/WebService1.asmx" />
    </wsdl:port>
    <wsdl:port name="WebService1Soap12" binding="tns:WebService1Soap12">
      <soap12:address location="http://localhost:12345/WebService1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>